<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index</title>

        <link rel="stylesheet" href="/static/styles/style.css">

        <script src="/static/js/test.js"></script>

        <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>

    </head>
    <body> 
        
    
        <model-viewer src="../static/test.glb" camera-controls shadow-intensity="1", shadow-softness="0"></model-viewer>




    </body>
</html>